<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>

<!-- 공통 css,js -->
<!-- 그누보드 디폴트css -->

<!-- <link rel="stylesheet" href="../../css/libs/default.css"> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="../../css/libs/nouislider.css">
<link rel="stylesheet" href="../../css/libs/animated.css">
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/less.css">

<link rel="icon" href="../../images/common/favicon.ico">
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../js/libs/nouislider.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="../../js/style.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.easing.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.counterup.min.js"></script>

<!-- 공통 css,js -->
<% if (page_type == "loding") { %>
	<link rel="stylesheet" href="../../css/loding.css">
<% }else if (page_type == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
	<script type="text/javascript" src="../../js/main.js"></script>
<% }else if (page_type == "test") { %>
	<link rel="stylesheet" href="../../css/test.css">
	<script type="text/javascript" src="../../js/test.js"></script>
<% }else if (page_type == "mycar") { %>
	<link rel="stylesheet" href="../../css/mycar.css">
	<script type="text/javascript" src="../../js/step.js"></script>
	<script type="text/javascript" src="../../js/mycar.js"></script>
<% }else if (page_type == "search") { %>
	<link rel="stylesheet" href="../../css/search.css">
	<script type="text/javascript" src="../../js/search.js"></script>
<% }else if (page_type == "theme") { %>
	<link rel="stylesheet" href="../../css/search.css">
	<script src="https://player.vimeo.com/api/player.js"></script>
	<script type="text/javascript" src="../../js/search.js"></script>
	<script type="text/javascript" src="../../js/theme.js"></script>
<% }else if (page_type == "mypage") { %>
	<link rel="stylesheet" href="../../css/mypage.css">
	<script type="text/javascript" src="../../js/mypage.js"></script>
<% }else if (page_type == "view") { %>
	<link rel="stylesheet" href="../../css/view.css">
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bfe9c6516ee365d01bffc404422b7bd1&libraries=services,clusterer"></script>
	<script type="text/javascript" src="../../js/view.js"></script>
<% }else if (page_type == "login") { %>
	<link rel="stylesheet" href="../../css/login.css">
	<script type="text/javascript" src="../../js/login.js"></script>
<% }else if (page_type == "quality") { %>
	<link rel="stylesheet" href="../../css/quality.css">
	<script type="text/javascript" src="../../js/quality.js"></script>
<% }else if (page_type == "register" || page_type == "register_result") { %>
	<link rel="stylesheet" href="../../css/register.css">
	<script type="text/javascript" src="../../js/register.js"></script>
<% } %>



</head>
<% if (page_type == "login" || page_type == "register") { %>
<body class="body__type-login">
<%}else{%>
<body>
<%}%>
	<% if (header == "true") { %>
			<header class="header">
				<div class="dim">dim</div>
				<div class="wrap">
					<div class="header__wrap">
						<div class="header__left">
							<!-- <div class="gnb">
								<button class="gnb__btn">
									<span class="gnb__bar nth-1">bar</span>
									<span class="gnb__bar nth-2">bar</span>
									<span class="gnb__bar nth-3">bar</span>
								</button>
							</div> -->
							<a href="" class="header__logo"><img src="../../img/common/logo.png" alt="cafora"></a>
						</div>
						<% if (page_type != "main" && page_type != "register" && page_type != "register_result" && page_type != "login") { %>
							<div class="header-search">
								<div class="header-search__wrap">
									<form class="header-search__form" name="header-search_form" id="header-search_form" action="../../index.php">
										<label class="sr-only" for="inputSearch">결과내 검색</label>
										<button type="submit" class="header-search__btn">검색</button>
										<input type="text" class="header-search__input js-total-search ui-autocomplete-input" id="inputSearch" name="inputSearch" placeholder="#검색어를 입력하세요" autocomplete="off" maxlength="50">
									</form>
								</div>
							</div>
						<% } %>
						<div class="header__right">
						<%if(page_type == "login"){%>
							<a href="../../html/register/register_1.html" class="register button-v4 type-border">회원가입</a>
						<%}else if(page_type != "register_result" && page_type != "register"){%>
							<button class="header__btn type-mypage"><span class="btn-span">카포라님</span></button>
							<a href="" class="header__btn login">로그인</a>
							<button class="header__btn"><span class="button-v4">내차어때?</span></button>
							<div class="header__btn type-icon tooltip-v1 type-left">
								<!-- 새로운 알림이 있을때만 빨간점이 보입니다. type-new 클래스 추가하면됩니다. -->
								<button class="js-alarm-btn alarm__btn type-new">
									<span class="btn-span">
										<img src="../../img/common/alarm_icon.png" class="img-normal" alt="알림">
									</span>
								</button>
								<!-- 새로운 알림 있을때 -->
								<div class="tooltip-v1__box type-alarm js-alarm-box">
									<img src="../../img/common/tooltip-v1-bg.png" alt="" class="tooltip-v1__bg"/>
									<div class="alarm">
										<ul class="alarm__list">
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/search/product_no_img.png" alt="해당 차량 이미지" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당경매 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당경매 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
											<li class="alarm__item">
												<span class="img-border alarm__box type-img">
													<img src="../../img/common/alarm_car.jpg" alt="" class="alarm__img"/>
												</span>
												<div class="alarm__box type-txt">
													<div class="alarm__msg ellipsis"><span class="alarm__point type-state">[판매요청]</span> <span class="alarm__point">카포라</span>님이 <span class="alarm__point">[45구6485]</span> 현대 싼타페 차량을 판매합니다.</div>
													<div class="alarm__date">20.03.30 11:04</div>
												</div>
												<a href="" class="alarm__link">해당차량 보러가기</a>
											</li>
										</ul>
										<div class="alarm__more">
											<a href="" class="button-v3 type-alarm">
	    										<span class="button-v3__wrap">알림 전체보기<span class="plus"><span class="plus__wrap">plus</span></span>
	    										</span>
											</a>
										</div>
									</div>
								</div>
								<!-- 알림이 아예 없을때 -->
								<!-- <div class="tooltip-v1__box type-alarm js-alarm-box">
									<img src="../../img/common/tooltip-v1-bg.png" alt="" class="tooltip-v1__bg"/>
									<p class="alarm__none">새로운 알림이 없습니다.</p>
								</div> -->
							</div>
							<button class="header__btn type-icon type-history js-history-open">
								<span class="history-count">99</span>
								<span class="btn-span">
									<img src="../../img/common/history_icon.png" class="img-normal" alt="최근검색기록">
								</span>
							</button>
						<%}%>
						</div>
					</div>
				</div>
			</header>
	<% } %>
	<div class="history">
		<div class="history__header">
			<h3 class="history__tit">최근 본 차량</h3>
			<button class="history__close js-history-close">닫기</button>
		</div>
		<div class="history__scroll">
			<div class="remove-box">
				<input type="checkbox" name="chkAll" id="chkAll" class="checkbox-v2"><label for="chkAll">전체선택</label>
				<button class="button-v4 is-disabled remove-box__btn js-check-remove"><span class="btn-span">선택차량 삭제</span></button>
			</div>
			<div class="history-product">
				<ul class="history-product__list">
					<% for(var i = 1; i<=5; i++){%>
						<li class="history-product__item">
							<div class="history-product__wrap">
								<div class="history-product__img img-border">
									<img src="https://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt=""/>
									<div class="remove-check">
										<input type="checkbox" name="productChk" id="productChk<%=i%>" class="checkbox-only"><label for="productChk<%=i%>">전체선택</label>
									</div>
								</div>
								<p class="history-product__name">현대 아반떼 MD M16 GDI 럭셔리</p>
								<p class="history-product__txt">
									<span class="product__rank">SA+</span>
									<span class="product__price"> 1,960만원</span>
								</p>
								<a href="" class="history-product__link">자세히보기</a>
							</div>
						</li>
					<% }%>
					<li class="history-product__item no-message bld">
						<div class="notice">
							<h4 class="notice__tit">최근 본 차량이 없습니다.</h4>
							<p class="notice__txt">
								최근 본 차량을 계속 보관하려면<br> 로그인 후 관심차량에 담아주세요.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<!-- //header끝 -->
<!-- section시작 -->
