<%
page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
    <!--container-->
    <div class="container type-fullbg type-result">
        <div class="wrap">
            <div class="container__wrap">
                <div class="register register-r type-result">
                    <h3 class="bld">비밀번호 변경 결과페이지</h3>
                    <img src="../../img/login/result_check_bg.png" alt="" class="register-r__img"/>
                    <p class="register-r__tit type-result">비밀번호 변경 완료!</p>
                    <p class="register-r__txt">김선미 회원님의 비밀번호가 새롭게 설정되었습니다.<br>다시 카포라에 로그인하여 다양한 서비스를 경험해 보세요.</p>
					<div class="register-r__btnwrap clb">
						<div class="register-r__btninbox fl">
							<a href="../../html/main/main.html" class="button-v2 type-border w-100">홈으로 가기</a>
						</div>
						<div class="register-r__btninbox fl">
							<a href="../../html/login/login.html" class="button-v2 type-blue w-100">로그인 하러 가기</a>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
<% include ../_include/_footer %>
