<%
page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
    <!--container-->
    <div class="container type-grey type-fullbg">
        <div class="wrap">
            <div class="container__wrap">
                <div class="register">
                    <h3 class="register__tit">회원정보 입력</h3>
                    <div class="register__box register-3">
                        <h4 class="register__subtit type-titv2">기본 정보를 입력하세요</h4>
                        <form action="../../html/register/register_result.html" id="register_form" method="" class="registerform">
                            <ul class="registerform__list">
                            	<li class="registerform__item">
                            	    <label htmlFor="register__id" class="register__label">아이디</label>
                            	    <input type="email" id="register__id" class="input-v2 js-r-input js-error-check form-3__input" placeholder="기존에 사용중인 이메일주소로 아이디를 설정해주세요" autocomplete="off" name="">
                            		<!-- 형식 오류시 -->
                            	    <!-- <p class="input-errortxt">아이디 형식이 올바르지 않습니다.(이메일 형식)</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label for="register__pw" class="register__label">비밀번호</label>
                            	    <input type="password" id="register__pw" class="input-v2 js-r-input js-error-check form-3__input" placeholder="8자리 이상의 영문,숫자,특수문자 조합으로 입력" autocomplete="off" name="">
									<!-- 형식 오류시 -->
                            	    <!-- <p class="input-errortxt">비밀번호 형식이 올바르지 않습니다.</p> -->
                            	    <input type="password" id="register__pw2" class="input-v2 js-r-input js-error-check type-second form-3__input" placeholder="비밀번호 재입력" autocomplete="off" name="">
                            		<!-- 형식 오류시 -->
                            	    <!-- <p class="input-errortxt">비밀번호가 일치하지 않습니다.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label for="register__nick" class="register__label">닉네임</label>
                            	    <input type="text" id="register__nick" class="input-v2 js-r-input js-error-check form-3__input" placeholder="카포라에서 사용할 닉네임 입력" autocomplete="off" name="">
                            		<!-- 형식 오류시 -->
                            	    <!-- <p class="input-errortxt">닉네임 형식이 올바르지 않습니다.</p> -->
                            	</li>
                            	<li class="registerform__item">
                            	    <label htmlFor="" class="register__label">결혼여부</label>
                            	    <div class="register__innerbox type-marriage">
                            	        <div class="register__m-wrap">
                            	            <input type="radio" id="marriage0" class="radio-v2"  name="marriage" value="0"checked/>
                            	            <label for="marriage0">미혼</label>
                            	        </div>
                            	        <div class="register__m-wrap">
                            	            <input type="radio" id="marriage1" class="radio-v2" name="marriage" value="1"/>
                            	            <label for="marriage1">기혼</label>
                            	        </div>
                            	    </div>
                            	</li>
                            </ul>
                            <!-- 모든폼 입력완료되면 is-active 클래스 추가 -->
							<button type="submit" class="register__submit js-register-submit button-v2 is-disabled w-100" disabled><span class="btn-span">다음</span></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
<% include ../_include/_footer %>
