<%
page_type = "test"
	page = "test"
	header = "false"
%>
<% include ../_include/_header %>
	<!--container-->
	<canvas id="myChart" width="400" height="400"></canvas>
	<!-- //container-->
<% include ../_include/_footer %>
