
<% include ../_include/_guide_header %>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item is-active"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap">
		<!-- mark -->
		<div class="guide-box">
			<div class="guide-tit">section-tit</div>
			<div class="guide-wrap">
				<div>
					<h4 class="section-tit">인기 해시태그</h4>
				</div>
				<pre class="brush: html;">
					<h4 class="section-tit">인기 해시태그</h4>
				</pre>
			</div>
			<!-- //mark -->
		</div>

		<!-- mark-style -->
		<div class="guide-box">
			<div class="guide-tit">mark-style</div>
			<div class="guide-wrap">
				<div>
					<span class="product__mark mark-style type-eye">113</span>
					<span class="product__mark mark-style type-top">상위 10%</span>
					<span class="product__mark mark-style type-price">113</span>
					<span class="product__mark mark-style type-graph">상위 10%</span>
				</div>
				<pre class="brush: html;">
					<span class="product__mark mark-style type-eye">113</span>
					<span class="product__mark mark-style type-top">상위 10%</span>
					<span class="product__mark mark-style type-price">113</span>
					<span class="product__mark mark-style type-graph">상위 10%</span>
				</pre>
			</div>
			<!-- //mark-style -->
		</div>

		<!-- info-stylee -->
		<div class="guide-box">
			<div class="guide-tit">info-style</div>
			<div class="guide-wrap">
				<div>
					<span class="info-style summary__info">19러9780</span>
					<span class="info-style summary__info">10년04월</span>
					<span class="info-style summary__info">197,458km</span>
				</div>
				<pre class="brush: html;">
					<span class="info-style summary__info">19러9780</span>
					<span class="info-style summary__info">10년04월</span>
					<span class="info-style summary__info">197,458km</span>
				</pre>
			</div>
			<!-- //mark-style -->
		</div>

		<!-- hash -->
		<div class="guide-box">
			<div class="guide-tit">hash</div>
			<div class="guide-wrap">
				<div>
					<div class="hash">
						<ul class="hash__list type-view">
							<li class="hash__item"><a href="" class="hash__link">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link">장거리출퇴근</a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="hash">
						<ul class="hash__list type-view">
							<li class="hash__item"><a href="" class="hash__link">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link">장거리출퇴근</a></li>
							<li class="hash__item"><a href="" class="hash__link">기아</a></li>
							<li class="hash__item"><a href="" class="hash__link">직장인</a></li>
							<li class="hash__item"><a href="" class="hash__link">장거리출퇴근</a></li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //mark-style -->
		</div>

		<!-- align-style -->
		<div class="guide-box">
			<div class="guide-tit">align-style</div>
			<div class="guide-wrap">
				<div>
					<div class="align-style">
						<ul class="align-style__list">
							<li class="align-style__item is-active">
								<a href="" class="align-style__link"><span class="align-style__wrap">최근등록순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">높은가격순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">낮은가격순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">품질순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">주행거리순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">연식순</span></a>
							</li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="align-style">
						<ul class="align-style__list">
							<li class="align-style__item is-active">
								<a href="" class="align-style__link"><span class="align-style__wrap">최근등록순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">높은가격순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">낮은가격순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">품질순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">주행거리순</span></a>
							</li>
							<li class="align-style__item">
								<a href="" class="align-style__link"><span class="align-style__wrap">연식순</span></a>
							</li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //align-style -->
		</div>

		<!-- view-style -->
		<div class="guide-box">
			<div class="guide-tit">view-style</div>
			<div class="guide-wrap">
				<div>
					<div class="relative">
						<div class="view-style">
							<input type="checkbox" name="smart" id="smart"  class="view-style__check checkbox-v2"><label for="smart"> 스마트 필터 제외</label>
							<ul class="view-style__list">
								<li class="view-style__item">
									<button class="view-style__btn type-line">가로</button>
								</li>
								<li class="view-style__item is-active">
									<button class="view-style__btn type-square">바둑판</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="view-style">
						<input type="checkbox" name="smart" id="smart"  class="view-style__check checkbox-v2"><label for="smart"> 스마트 필터 제외</label>
						<ul class="view-style__list">
							<li class="view-style__item">
								<button class="view-style__btn type-line">가로</button>
							</li>
							<li class="view-style__item is-active">
								<button class="view-style__btn type-square">바둑판</button>
							</li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //view-style -->
		</div>

		<!-- product -->
		<div class="guide-box">
			<div class="guide-tit">product</div>
			<div class="guide-wrap">
				<div>
					<div class="product">
						<ul class="product__list js-product-list">
							<li class="product__item">
								<div class="product__wrap">
									<div class="product__img img-border">
										<img src="../../img/search/product_img.jpg" class="img-w100" alt="">
									</div>
									<div class="product__box">
										<div class="product__brand">
											<img src="../../img/common/brand_kb.png" class="img-w100" alt="kb">
										</div>
										<p class="product__txt">
											<span class="product__rank">BB+ </span>
											<span class="product__price">170만원</span>
										</p>
										<p class="product__txt">
											<span class="product__name">현대 아반떼 1.5 SPECIAL EDITION 1</span>
										</p>
										<p class="product__txt">
											<span class="product__info info-style">15누4778</span>
											<span class="product__info info-style">99년05월 (99년형)</span>
											<span class="product__info info-style">160,592km</span>
										</p>
										<p class="product__txt">
											<span class="product__mark mark-style type-eye">0</span>
										</p>
									</div>
									<a href="../view.php?c_code=2154663" class="product__link">자세히보기</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="product">
						<ul class="product__list js-product-list">
							<li class="product__item">
								<div class="product__wrap">
									<div class="product__img img-border">
										<img src="../../img/search/product_img.jpg" class="img-w100" alt="">
									</div>
									<div class="product__box">
										<div class="product__brand">
											<img src="../../img/common/brand_kb.png" class="img-w100" alt="kb">
										</div>
										<p class="product__txt">
											<span class="product__rank">BB+ </span>
											<span class="product__price">170만원</span>
										</p>
										<p class="product__txt">
											<span class="product__name">현대 아반떼 1.5 SPECIAL EDITION 1</span>
										</p>
										<p class="product__txt">
											<span class="product__info info-style">15누4778</span>
											<span class="product__info info-style">99년05월 (99년형)</span>
											<span class="product__info info-style">160,592km</span>
										</p>
										<p class="product__txt">
											<span class="product__mark mark-style type-eye">0</span>
										</p>
									</div>
									<a href="../view.php?c_code=2154663" class="product__link">자세히보기</a>
								</div>
							</li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //view-style -->
		</div>
		<!-- tooltip-v1 -->
		<div class="guide-box">
			<div class="guide-tit">tooltip-v1</div>
			<div class="guide-wrap">
				<div>
					<div class="tooltip-v1">
						<button type="button" class="tooltip-v1__icon">평가정보 설명</button>
						<div class="tooltip-v1__box">
							<ul class="tooltip-v1__list">
								<li class="tooltip-v1__item">
									<h5 class="tooltip-v1__tit">품질 평가란? </h5>
									<p class="tooltip-v1__txt">시중에 판매 중인 해당 차량과 동일한 모델의 빅데이터(주행거리, 수리이력, 소유자이전, 특수사고, 사고이력)를 분석하여 산출한 결과입니다.</p>
								</li>
								<li class="tooltip-v1__item">
									<h5 class="tooltip-v1__tit">가성비 평가란? </h5>
									<p class="tooltip-v1__txt">시중에 판매 중인 해당 차량과 동일한 모델의 평균 판매 금액과, 해당 차량과 동일한 모델이면서 품질평가 등급도 동일한 차량의 평균 판매 금액을 대비하여 산출한 결과입니다.</p>
								</li>
								<li class="tooltip-v1__item">
									<h5 class="tooltip-v1__tit">사고 여부란? </h5>
									<p class="tooltip-v1__txt">해당 차량의 사고 유무에 따라 무사고일 땐 플러스(+)로, 유사고일 땐 마이너스(-)로 가치를 표현한 결과입니다.</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tooltip-v1">
						<button type="button" class="tooltip-v1__icon">평가정보 설명</button>
						<div class="tooltip-v1__box">
							<ul class="tooltip-v1__list">
								<li class="tooltip-v1__item">
									<h5 class="tooltip-v1__tit">품질 평가란? </h5>
									<p class="tooltip-v1__txt">시중에 판매 중인 해당 차량과 동일한 모델의 빅데이터(주행거리, 수리이력, 소유자이전, 특수사고, 사고이력)를 분석하여 산출한 결과입니다.</p>
								</li>
								<li class="tooltip-v1__item">
									<h5 class="tooltip-v1__tit">가성비 평가란? </h5>
									<p class="tooltip-v1__txt">시중에 판매 중인 해당 차량과 동일한 모델의 평균 판매 금액과, 해당 차량과 동일한 모델이면서 품질평가 등급도 동일한 차량의 평균 판매 금액을 대비하여 산출한 결과입니다.</p>
								</li>
								<li class="tooltip-v1__item">
									<h5 class="tooltip-v1__tit">사고 여부란? </h5>
									<p class="tooltip-v1__txt">해당 차량의 사고 유무에 따라 무사고일 땐 플러스(+)로, 유사고일 땐 마이너스(-)로 가치를 표현한 결과입니다.</p>
								</li>
							</ul>
						</div>
					</div>
				</pre>
			</div>
			<!-- //view-style -->
		</div>


	</div><!-- //new-content-wrap -->
</body>
</html>
