html{height:100%;}
body{position:relative; min-height:100%;  margin:0; padding:0 0 337px;background-color:#fff; font-family: $font-normal; font-size:$sizeTxt3; word-break: keep-all; line-height:1.4; color:$grey5; font-weight:$medium; box-sizing:border-box;
    &.body__type-login{padding-bottom:0!important;}
}
.dim{overflow:hidden; display:none; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.1);  z-index:30; text-indent:-9999px;}
.wrap{width:$min-size; margin:0px auto; box-sizing:border-box;}
.gnb{display:inline-block; font-size:0;
    &__btn{display:inline-block; position:relative; margin-top:28px; width:18px; height:16px; margin:0; padding:0; border:none; background:none; outline:0; cursor:pointer;}
    &__bar{display:block; position:absolute; left:0; width:18px; height:0; border-top:2px solid #000; font-size:0; text-indent:-9999px;
        &.nth-1{top:0;}
        &.nth-2{top:0; bottom:0; margin:auto 0;}
        &.nth-3{bottom:0;}
    }
}
.header{height:72px;
    $this:&;
    &__wrap{position:relative; font-size:0;}
    &__logo{display:inline-block; /*margin:25px 0 0 22px;*/margin-top:25px; box-sizing:border-box;}
    &__left{position:absolute; left:0;}
    &__right{position:absolute; right:0; top:20px;}
    &__btn{position:relative; display:inline-block; border:none;  outline:0; vertical-align:middle; cursor:pointer; font-size:$sizeTxt3; color:#000;
        & + &{margin-left:26px;}
        &.type-mypage{
            & + #{$this}__btn{margin-left:33px;
                &:before{display:block; position:absolute; top:5px; bottom:0; left:-16px; width:0; height:12px;  border-left:1px solid $grey3; content:'';}
            }
        }
        &.type-icon{margin-left:26px;}
    }
}
.history-count{position:absolute; top:-10px; right:-10px; display:block; width:18px; height:18px; line-height:18px; color:#fff; font-size:$sizeTxt6; background:$point1; border-radius:50%;}
.footer{position:absolute; left:0; right:0; bottom:0;  min-width:$min-size; padding:70px 0 60px; background:#191919; box-sizing:border-box; text-align:center;
    //로그인페이지별도 푸터
    &.type-login{padding:30px 0;background-color:transparent;}
    $this:&;
    &__list{margin:0; padding:0; font-size:0;}
    &__link{display:block; font-size:$sizeTxt2; font-weight:$medium; color:$grey5; text-decoration:none; cursor:pointer;
        &.type-icon{ padding:0 20px;}
        &.type-login{font-size:$sizeTxt3;}
        &.type-blk{color:#000!important;}
    }
    &__item{display:inline-block; list-style:none; vertical-align:middle;
        &.type-terms{
            #{$this}__link{color:#fff;}
        }
        & + &{margin-left:30px;}
        &.type-login + &.type-login{margin-left:18px;}
        &.type-icon{position:relative; height:34px; line-height:34px; border-radius:17px; background: #000; box-sizing:border-box;
            &.type-facebook{
                #{$this}__span{padding-left:18px;
                    &:before{width:7px; height:14px; background:url('../img/common/fa_icon.png') no-repeat center center / contain;}
                }
            }
            &.type-post{
                #{$this}__span{ padding-left:22px;
                    &:before{width:10px; height:17px; background:url('../img/common/post_icon.png') no-repeat center center / contain;}
                }
            }
            & + &{margin-left:20px;}
        }
    }
    &__copy{margin-top:26px; font-size:$sizeTxt4; color:$grey5; font-weight:$thin;
        &.type-login{margin-top:0; font-weight:$medium;}
    }
    &__span{position:relative;
        &:before{display:block; position:absolute; top:0; bottom:0; left:0; margin:auto 0; content:''; }
    }
    &__logo{margin-top:30px;}

}
.footer-info{margin-top:34px;
    &.type-login{margin-top:10px;}
    &__list{margin:0; padding:0; font-size:0;
        & + &{margin-top:10px;}
    }
    &__item{position:relative; display:inline-block; list-style:none; font-size:$sizeTxt4; color:#585858; font-weight:$medium;
        & + &{margin-left:13px; padding-left:14px; box-sizing:border-box;
            &:before{display:block; position:absolute; top:0; bottom:0; left:0; width:0; height:12px; margin:auto 0; border-left:1px solid #444; content:'';}
        }
    }
    &__span{font-weight:$light; color:$grey5}
    &__link{display:inline-block; color:inherit; text-decoration:none; cursor:pointer;}
}
.login{font-size:$sizeTxt3; }


.plus{display:block; position:absolute; top:0; bottom:0; right:0; width:18px; height:18px;  margin:auto; border-radius:50%; background:$point1;
    &__wrap{overflow:hidden; position:relative; display:block; width:100%; height:100%; font-size:0; text-indent:-999px;
        &:before,&:after{display:block; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; background:#fff; content:'';}
        &:before{width:8px; height:2px;}
        &:after{width:2px; height:8px;}
    }
}



.container{min-width:$min-size; padding-bottom:150px; box-sizing:border-box;
    &.type-grey{background-color:$bg-color}
    &.type-fullbg{min-height:100vh;
        &.type-login{background-repeat: no-repeat;background-position: center;background-size:cover;background-image:url(../../img/login/login_bg.jpg);}
        &.type-result{background-repeat: no-repeat;background-position: center 20px;background-size:cover;background-image:url(../../img/login/r_register_bg.jpg);}
    }
    &__wrap{width:1260px; margin:0 auto; box-sizing:border-box;
        &:after{display:block; clear:both; content:'';}
    }
}
.section-tit{display:inline-block; margin:0; font-size:$sizeTit3; font-weight:$medium; color:#000; vertical-align:middle;}
.section{margin-left:-40px; text-align:left;
    $this:&;
    & + &{margin-top:140px;}
    &.type-main{margin-top:150px;}
    &.type-two{font-size:0;
        #{$this}__box{display:inline-block; width:50%;}
    }
    &__relative{position:relative;}
    &__box{width:100%; padding-left:40px; box-sizing:border-box; vertical-align: top;}
    &__right{position:absolute; top:-5px; right:0;}
}

.slider-btn{position:relative; font-size:0;
    $this:&;
    &.type-v2{
        #{$this}__prev{background:url('../img/common/prev_off_v2.png') no-repeat center center / contain;
            &:hover{background:url('../img/common/prev_on_v2.png') no-repeat center center / contain;}
            & + #{$this}__next{margin-left:5px;}
        }
        #{$this}__next{background:url('../img/common/next_off_v2.png') no-repeat center center / contain;
            &:hover{background:url('../img/common/next_on_v2.png') no-repeat center center / contain;}
        }
    }
    &__prev,&__next{overflow:hidden; display:inline-block; width:40px; height:40px; text-indent:-9999px;}
    &__prev{background:url('../img/common/plan_prev_off.png') no-repeat center center / contain;
        &:hover{background:url('../img/common/plan_prev_on.png') no-repeat center center / contain;}
        & + #{$this}__next{margin-left:5px;}
    }
    &__next{background:url('../img/common/plan_next_off.png') no-repeat center center / contain;
        &:hover{background:url('../img/common/plan_next_on.png') no-repeat center center / contain;}
    }
}

.remove-box{position:relative; margin-bottom:20px;
    $this:&;
    &__btn{position:absolute; right:0; bottom:0;}
    &.type-mypage{position:absolute; top:0; right:0; width:210px;
        #{$this}__btn{bottom:-8px;}
    }
}
.remove-check{position:absolute; top:0; left:0; width:100%; height:100%; z-index:20;}
// mh 추가 common

.mark-style{position:relative; display:inline-block; padding-left:26px; font-size:$sizeTxt4; box-sizing:border-box; font-weight:$light; vertical-align:top;
    $this:&;
    & + &{margin-left:28px;}
    &.type-eye{background:url('../img/common/mark/mark_eye.png') no-repeat left center;}
    &.type-top{background:url('../img/common/mark/mark_top.png') no-repeat left center;}
    &.type-graph{background:url('../img/common/mark/mark_graph.png') no-repeat left center;}
    &.type-price{background:url('../img/common/mark/mark_price.png') no-repeat left center;}
    &.type-people{ background:url('../img/common/mark/mark_people.png') no-repeat left center;}
    &.type-book{display:block; position:absolute; background:url('../img/common/mark/mark_book.png') no-repeat left top 2px; height:15px; width:12px; padding:0; font-size:0; text-indent:-999px;
        z-index:20;
        & + #{$this}{margin-left:42px;}
    }
    &.type-no-icon{padding-left:0;}
    &__link{display:block; width:100%; height:100%; cursor:pointer;}
}
.info-style{display:inline-block; position:relative; font-size:$sizeTxt4; font-weight:$light;
    & + &{margin-left:5px; padding-left:8px; box-sizing:border-box;
        &:before{display:block; position:absolute; top:0; bottom:0; left:0; width:3px; height:3px; margin:auto 0; border-radius:50%; background:$grey3; content:''}
    }
}


.header-search{display:inline-block; position:absolute; top:16px; left:0; right:0; width:560px; margin:0 auto;
    &__wrap{position:relative;}
    &__input{width:100%; height:46px; padding:0 40px 0 30px; box-sizing:border-box; border-radius:23px; border:1px solid #f5f5f5; font-size:$sizeTxt3; color:#000; font-family: $font-normal; font-weight:$medium;
        @include placeholder-color($grey5); outline:0; background-color: #f5f5f5;
        &:focus{background-color:transparent; border-color:$grey3;}
    }
    &__btn{display:block; position:absolute; top:0; bottom:0; right:20px; width:16px; height:16px; margin:auto 0; border:none; text-decoration:none;
        background:url('../img/search/inner_search_icon.png') no-repeat center center; font-size:0; outline:0; cursor:pointer;
    }
}


.hash{
    $this:&;
    &__list{margin:20px 0 0 -6px; padding:0; font-size:0;}
    &__item{display:inline-block; margin:6px 0 0 6px; list-style:none;}
    &__link{display:block; height:34px; padding:0 14px; border-radius:17px; background:#f7f7f7; line-height:34px; font-size:$sizeTxt3; color:$grey5; text-decoration:none; cursor:pointer; font-weight:$light;
        box-sizing:border-box;
            &:before{content:"#"}
        &.type-close{padding-right:34px; background:url('../../img/search/search_close.png') #f7f7f7 no-repeat center right 16px;}
    }
}

.align-style{display:inline-block; min-height:18px; margin-bottom:30px;
    $this:&;
    &__list{margin:0; padding:0;}
    &__item{display:inline-block; list-style:none; font-weight:$light;
        & + &{margin-left:20px;}
        &.is-active{font-weight:$medium; color:#000;
            #{$this}__wrap{padding-left:20px;
                &:before{display:none;}
                &:after{display:block; position:absolute; top:2px; left:0; width:13px; height:9px; background:url('../../img/common/aligh_check_icon.png') no-repeat center center / contain; content:'';}
            }
        }
    }
    &__link{display:block; text-decoration:none; cursor:pointer; font-size:$sizeTxt4; color:inherit;}
    &__wrap{position:relative; padding-left:14px; box-sizing:border-box;
        &:before{display:block; position:absolute; top:4px; left:0; width:6px; height:6px; border-radius:50%; background:$grey3; content:'';}
    }
}

.view-style{position: absolute; right:0; top:-8px;
    $this:&;
    &__check{
        & + label{font-weight:$light; line-height:25px;
            &:before{top:5px;}
        }
    }
    &__list{position:relative; top:-1px; display:inline-block; margin:0 0 0 20px; padding:0; font-size:0; vertical-align:middle;}
    &__item{display:inline-block; list-style:none;
        &:first-child{
            #{$this}__btn{border-right-color:#fff;}
        }
        &.is-active{
            #{$this}__btn{border-color:$grey5 !important;
                &.type-line{background:url('../../img/common/view_line_on.png') no-repeat center center;}
                &.type-square{background:url('../../img/common/view_square_on.png') no-repeat center center;}
            }
        }
    }
    &__btn{display:block; overflow:hidden; width:28px; height:28px; border: 1px solid $grey3; box-sizing:border-box; background-color: transparent; text-indent:-9999px; cursor:pointer;
        &.type-line{background:url('../../img/common/view_line_off.png') no-repeat center center;}
        &.type-square{background:url('../../img/common/view_square_off.png') no-repeat center center;}
    }
}


.rank-bar{
    $this:&;
    &__bar{ position:relative; display:block; height:10px; width:100%; border-top:1px solid $grey3; border-bottom:1px solid $grey3; font-size:0;}
    &__text{display:block; margin-bottom:2px;}
    &__list{height:100%;font-size:0; }
    &__item{display:inline-block;position:relative;width:20%;height:100%;font-size:$sizeTxt4;font-weight:$light; color:$grey5;text-align: center;
        &.is-active{
            #{$this}__text{font-weight:$medium;color:$point1;}
            #{$this}__bar{
                &:after{display:block; position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; border:2px solid $point1;background-image:url(../../img/view/point_back.png); background-position:1px ;z-index:10; content:'';}
            }
        }
        &:first-child{
            #{$this}__bar{border-left:1px solid $grey3;}
        }
        &:last-child{
            #{$this}__bar{border-right:1px solid $grey3;}
        }
        & + #{$this}__item{
            #{$this}__bar{
                &::before{content:""; display: inline-block;position:absolute;left:0; top:0;width:1px; height:5px; background-color:$grey3;}
            }
        }

    }
    &__point{display:inline-block;position:absolute;height:10px;top:-1px;left:-1px;right:-1px;}
}

.accident-style{
    &__span{display:inline-block;padding-left:20px;font-size:$sizeTxt4;font-weight:$light;color:$grey5;
        & + &{margin-left:40px;}
        &.type-plus{background:url(../../img/view/accident_plus.png) no-repeat 0 2px/12px 12px;
            &.is-active{background:url(../../img/view/accident_plus_on.png) no-repeat 0 2px/12px 12px;font-weight:$medium; color:$point1;}
        }
        &.type-minus{background:url(../../img/view/accident_minus.png) no-repeat 0 2px/12px 12px;
            &.is-active{background:url(../../img/view/accident_minus_on.png) no-repeat 0 2px/12px 12px;font-weight:$medium; color:$point1;}
        }
    }
}

.product{width:100%; text-align:center;
    $this:&;
    &.type-four{
        #{$this}__item{width:25%;}
    }
    &__list{margin:-44px 0 0 -20px;; padding:0; font-size:0; text-align:left;}
    &__item{display:inline-block; width:33.33%; margin-top:44px; padding-left:20px; list-style:none; vertical-align:top; box-sizing:border-box;
        &.no-message{width:100% !important; margin-top:120px; font-size:$sizeTxt1; font-weight:$bold; color:#000; text-align:center;}
    }
    &__wrap{position:relative;}
    &__img{position:relative; overflow:hidden; width:100%; height:169px; border-radius:8px; box-sizing:border-box; background:#f5f5f5; background-clip: content-box;}
    &__link{display:block; text-decoration:none;}
    &__rank,&__price,&__name,&__span{font-size:$sizeTxt2;}
    &__span{color:#000; font-weight:$light;}
    &__rank{color:$point1;}
    &__price,&__name{color:#000;}
    &__price{margin-left:8px;}
    &__box{position:relative; margin-top:16px;}
    &__txt{margin:0;
        & + &{margin-top:4px;}
        & + & + &{margin-top:10px;}
    }
    &__brand{position:absolute; top:0; right:0; }
    &__btn{margin-top:50px;}
    &__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; text-decoration:none; text-indent:-9999px;}
}

.product-auction{position:absolute; bottom:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.3);
    $this:&;
    &.type-bidding{background-color:rgba(13,94,254,0.7);}
    &.type-end{height:40px; line-height:40px; background: rgba(0,0,0,0.7);}
    &.type-progress{
        #{$this}__state{background-color:$point1;}
    }
    &__outer{position:absolute; left:0; bottom:16px; right:0; padding:0 18px; }
    &__inner{position:relative; padding-right:50%; box-sizing:border-box;}
    &__state{display:inline-block; height:20px; line-height:20px; padding:0 10px; background-color:#55cc3d; color:#fff; font-size:$sizeTxt9; border-radius:10px;}
    &__time,&__my,&__price{display:inline-block; height:20px; line-height:20px; color:#fff; font-size:$sizeTxt3;}
    &__time{margin-left:8px;}
    &__end{font-size:$sizeTxt3; color:#fff; text-align:center;}
    &__price{margin-left:4px;}
    &__bidding{position:absolute; right:0; top:0;}
}

.img-border{position:relative;
    &:before{display:block; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid rgba(0,0,0,0.1); border-radius:inherit; content:''; box-sizing:border-box; z-index:10;}
}

//회원가입 및 로그인 공통css
//회원가입과 공통

.login-or{
    &:before{content:"또는";display: block;text-align: center;color:rgba(255,255,255,.5);}
    &.type-login{margin:28px 0;background-repeat: no-repeat;background-position: center;background-size:100%;;background-image:url(../../img/login/or_bg.png);}
    &.type-register{margin:35px 0;background-repeat: no-repeat;background-position: center;background-size:100%;background-image:url(../../img/login/or_bg_grey.png);}
}
.buttonbox{
    &__btn{ font-weight:$medium; border:none;
        &.type-kakao{background:url(../../img/login/btn_bg_kko.png) #ffe500 no-repeat center left  20px /22px 20px; color:#3c1e1e;}
        &.type-facebook{background:url(../../img/login/btn_bg_fb.png) #3b579d no-repeat center left  20px /20px 20px; color:#fff;}
        &.type-blk{background-color:#000;color:#fff;}
        & + &{margin-top:10px;}
    }
}



.history{position:fixed; top:0; right:-370px; width:370px; height:100%;  background-color:#fff; z-index:40; transition:right .5s;
    &.is-active{right:0%;}
    &__header{position:relative; padding:0 30px; border-bottom:1px solid $grey3;  box-sizing:border-box;}
    &__tit{height:70px; line-height:70px; font-size:$sizeTit3; color:#000;}
    &__scroll{overflow:auto; height:calc(100% - 70px); width:100%; padding:30px; box-sizing:border-box;}
    &__close{display:block; overflow:hidden; position:absolute; top:0; bottom:0; right:30px; width:20px; height:20px; margin:auto 0;
        background:url('../../img/common/close.png') no-repeat center center / contain; text-indent:-9999px; cursor:pointer;}
}

.history-product{
    &__list{margin:-20px 0 0 -10px; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; width:50%; margin-top:20px; padding-left:10px; list-style:none; box-sizing:border-box; vertical-align:top;
        &.no-message{width:100% !important; margin-top:200px;}
    }
    &__wrap{position:relative;}
    &__img{position:relative; overflow:hidden; width:100%; height:80px; border-radius:8px; box-sizing:border-box; background:#f5f5f5;}
    &__link{display:block; position:absolute; top:0; left:0;  width:100%; height:100%; text-decoration:none; z-index:10;}
    &__name{margin:10px 0 0 0; font-size:$sizeTxt4; color:$grey5; font-weight:$light;}
    &__txt{margin:10px 0 0 0;}
}


.notice{ text-align:center;
    &__tit{font-size:$sizeTxt1; color:#000;
        &:before{display:block; width:60px; height:60px; margin:0 auto 30px; background:url('../../img/common/noti_icon.png'); content:'';}
    }
    &__txt{margin-top:14px; font-size:$sizeTxt3; line-height:1.7; color:$grey5; font-weight:$light;}
}

.tooltip-v1{display:inline-block;position:relative;transition:box-shadow .6s;
    $this:&;
    &__icon{margin-left:5px;width:18px;height:28px;background:url(../../img/common/tooltip-v1_grey.png) no-repeat center/ 100%;font-size:$sizeTit3;text-indent:-9999px;}
    &__box{position:absolute;width:auto;left:-25px;top:38px;padding:30px; border:1px solid $grey3;border-radius: 8px;background-color:#fff; z-index:-10;opacity:0;transition:all .4s;
        &.type-alarm{display:none;width:370px;padding:0;z-index:20; opacity: 1;
            @include vendor(animation,"shadow .6s ease-in-out forwards");
        }
      }
    &__bg{position:absolute; top:-9px;left:30px;}
    &__item + &__item{margin-top:15px;}
    &__tit{font-size:$sizeTxt4;font-weight:$light;color:$point1;}
    &__txt{line-height:20px; font-size:$sizeTxt4;font-weight:$light;color:$grey5;}
    &.type-left{
        #{$this}__box{left:auto;right:-30px;
            #{$this}__bg{left:auto;right:30px;}
        }
    }

    &:hover{
        #{$this}__icon{background:url(../../img/common/tooltip-v1.png) no-repeat center/ 100%;}
        #{$this}__box{z-index:20; opacity: 10;
            @include vendor(animation,"shadow .6s ease-in-out forwards");
        }
    }
    @media only screen and (max-width: $minpc-size1){
        &.type-right{
            #{$this}__box{left:auto;right:-30px;
                #{$this}__bg{left:auto;right:30px;}
            }
        }
    }
}
.tooltip-v2{display:block; position:relative; min-width:14px; text-align:center;
    $this:&;
    &__outer{display:block; position:absolute;  top:28px; left:-20px; white-space:nowrap; background-color:#fff; border:1px solid $grey3; font-size:$sizeTxt3;
         border-radius:8px; box-shadow: 0px 20px 30px 0px rgba(12, 12, 12, 0.15);  z-index:-10;opacity:0;transition:all .4s; }
    &__inner{display:block; position:relative; padding:18px;
        &:before{display:block; position:absolute; top:-20px; border-style:solid; border-width:10px; border-color:transparent transparent $grey3 transparent; content:'';}
        &:after{display:block; position:absolute; top:-19px; border-style:solid; border-width:10px; border-color:transparent transparent #fff transparent; content:'';}
    }
}

.ani-tooltip-v2{overflow:hidden;  z-index:50;
     &:hover{overflow: visible;
        .tooltip-v2__outer{z-index:20; opacity: 1;
            @include vendor(animation,"shadow .6s ease-in-out forwards");}
    }
}

//헤더 알림 - alarm
.alarm{
    &__btn{position:relative;
        &.type-new:after{content:"";display:block; position:absolute; top:-3px; right:-5px;width:5px; height:5px; background-color:#da2432;border-radius: 50%;}
    }
    &__list{overflow-y: auto;max-height:394px;
        // -ms-overflow-style: none; /* IE and Edge */
        // scrollbar-width: none; /* Firefox */
        // &::-webkit-scrollbar{ display: none; /* Chrome, Safari, Opera*/}
    }
    &__item{position:relative;height:80px;padding:20px;
        & + &{border-top:1px solid $grey3;}
        &:hover{background-color:$grey1}
    }
    &__box{display: inline-block;
        &.type-img{overflow:hidden;position:absolute;left:20px;top:12px;width:54px;height:54px; border-radius:50%;}
        &.type-txt{position:relative;width:100%;height:100%;padding-left:75px;}
    }
    &__img{position:absolute; top:50%; left:50%; height:100%; @include vendor('transform','translate(-50%,-50%)');}
    &__msg{font-size:$sizeTxt4;font-weight:$light;}
    &__point{font-weight:$medium;
        &.type-state{color:$point1;}
    }
    &__date{position:absolute;bottom:0;font-size:$sizeTxt4;font-weight:$light;color:$grey5;}
    &__link{display:block;overflow:hidden;position:absolute;top:0;left:0;width:100%; height:100%;z-index:10;text-indent:-9999px;}
    &__more{border-top:1px solid $grey3;}
    &__none{height:90px;line-height:90px;font-size:$sizeTxt3;font-weight:$light;text-align: center;}
}

@keyframes shadow {
    0% {@include vendor(box-shadow, "0px 0px 0px 0px rgba(12, 12, 12, 0.15)");}
    100% {@include vendor(box-shadow, "0px 20px 30px 0px rgba(12, 12, 12, 0.15)");}
}

.bullet-square{position:relative; padding-left:10px;
    &:before{display:block; position:absolute; top:7px; left:0; width:3px; height:3px; background:$grey5; content:'';}
}

//슬롯
.slot{font-size:0; text-align:center;
    $this:&;
    &.type-quality{
        #{$this}__box{width:78px; background:url('../../img/quality/slot_bg.png') no-repeat center center; color:#fff;}
        #{$this}__score{color:#fff;}
        #{$this}__tit{margin-top:24px; color:#fff;}
    }
    &__score{display:inline-block; font-size:$sizeTxt7; color:$point1;text-align: center;
        & + &{margin-left:10px;}
    }
    &__box{height:auto; text-align: center;color:$point1;overflow: hidden ; position:relative;}
    &__tit{font-size:$sizeTxt3;font-weight:$light;color:$grey5;text-align: center;}
    &__origin{font-size:$sizeTxt7; font-weight:500; line-height:1; opacity:0;}
    &__text{position:absolute;width:100%;opacity:1;transition:opacity .3s}
    &__word{display: block;line-height:1;font-size:$sizeTxt7;font-weight:500;}
}

.content{
    &__box{
        & + &{margin-top:80px;}
    }
    &__noti{margin-top:26px; font-size:$sizeTxt2; color:#000; font-weight:$light;}
}
.content-tit{margin-bottom:30px; font-size:$sizeTit2; color:#000;
    &.type-txt{margin-bottom:6px; }
}
.content-txt{font-size:$sizeTxt2; color:#000; font-weight:$light; line-height:2;
    & + .content-border{margin-top:24px;}
}
.content-border{padding:60px 90px; box-sizing:border-box; border:1px solid $grey3; border-radius:8px; font-size:0;
    $this:&;
    &.type-quality{
        #{$this}__box{vertical-align: middle;
            &.type-bar{width:488px; }
            &.type-txt{width:590px; }
        }
    }
    &__box{display:inline-block; width:50%; vertical-align:top;}
    &__tit{font-size:$sizeTxt1; color:#000;}
}

.graph{width:420px;
    $this:&;
    &__tit{font-size:$sizeTxt1; color:#000;}
    &__info{margin-top:24px; font-size:$sizeTxt3; font-weight:$light; color:$grey5;}
    &__list{margin:12px 0 0 0; padding:0;font-size:0;}
    &__item{display:inline-block; vertical-align:top;  text-align:center;
        &.type-s{width:10%;
            #{$this}__bar{background-color:$color-s; border-radius:8px 0 0 8px;}
        }
        &.type-a{width:15%;
            #{$this}__bar{background-color:$color-a;}
        }
        &.type-b{width:50%;
            #{$this}__bar{background-color:$color-b;}
        }
        &.type-c{width:15%;
            #{$this}__bar{background-color:$color-c;}
        }
        &.type-d{width:10%;
            #{$this}__bar{background-color:$color-d;  border-radius:0 8px 8px 0;}
        }
    }
    &__bar{height:50px; color:#fff; font-size:$sizeTxt3; font-weight:$light; line-height:50px;}
    &__txt{margin-top:14px; font-size:$sizeTxt3; color:$grey5; font-weight:$light;}

//툴팁스타일
    &.type-tooltip{width:370px;margin-bottom:24px;
        #{$this}__bar{height:40px;line-height:40px;}

    }
}

.graph-info{margin-top:40px; text-align:center;
    &__list{margin:0; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; padding-left:20px; box-sizing:border-box; font-size:$sizeTxt3; color:#000; font-weight:$light; vertical-align:top;
        &:before{display:block; position:absolute; top:5px; left:0; width:10px; height:10px;border-radius: 50%; content:'';}
        &.type-s{
            &:before{background-color:$color-s;}
        }
        &.type-a{
            &:before{background-color:$color-a;}
        }
        &.type-b{
            &:before{background-color:$color-b;}
        }
        &.type-c{
            &:before{background-color:$color-c;}
        }
        &.type-d{
            &:before{background-color:$color-d;}
        }
        & + &{margin-left:14px;}
    }
}


.content-banner{
    $this:&;
    &__vertical{display:table-cell; width:1%; height:210px; vertical-align:middle;}
    &.type-quality{background:url('../../img/search/tit_banner_1.jpg') #fdf5f4 no-repeat center center;
        #{$this}__point{color:#da2432;}
    }
    &.type-price{background:url('../../img/search/tit_banner_2.jpg') #e2f2ff no-repeat center center;
        #{$this}__point{color:#4356cc;}
    }
     &.type-auction{background:url('../../img/auction/auction_banner.jpg') $point1 no-repeat center center;
        #{$this}__tit,#{$this}__txt{color:#fff;}
    }
    &__tit{margin:0; font-size:$sizeTit1; color:#000; font-weight:$bold;}
    &__txt{margin:8px 0 0 0; font-size:$sizeTxt2; color:#000; font-weight:$light;}
    &__point{font-weight: inherit;}
}
