@charset "utf-8";
@import "variables";
@import "vendor";

//mixin
@mixin background-image-retina($file, $type, $width, $height:null ) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx){
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

@mixin background($file, $backOption, $ver:191029 ) {
	background: url($file + '?ver=' + $ver)+" "+$backOption
}


@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }
@mixin block {
	&:before,
	&:after { clear:both; display:block; overflow:hidden; height:0; content:""; }
}
@mixin line-clamp($lines, $line-height) { display:block; display:-webkit-box; -webkit-box-orient:vertical; position:relative; text-overflow: ellipsis; -webkit-line-clamp:$lines; white-space:normal;
	&:after { position:absolute; right:0; bottom:0; width:77px; height:$line-height+em; background:url(../images/common/line-clamp.png) repeat-y right bottom; content:''; pointer-events:none; }
	@supports (-webkit-line-clamp: $lines) {
		height:auto;
		&:after { content:none}
	}
}

@mixin img-wrap {
	&__img-wrap { overflow:hidden; position:relative; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
}

@mixin placeholder-color($place-color){
	&:-ms-input-placeholder { color: $place-color;}
	&::-webkit-input-placeholder { color: $place-color;}
	&::-moz-placeholder { color: $place-color;}
	&::-moz-placeholder { color: $place-color;}
}
@mixin placeholder($place-color,$font-weight){
	&:-ms-input-placeholder { color: $place-color;font-weight:$font-weight;}
	&::-webkit-input-placeholder { color: $place-color;font-weight:$font-weight;}
	&::-moz-placeholder { color: $place-color;font-weight:$font-weight;}
	&::-moz-placeholder { color: $place-color;font-weight:$font-weight;}
}



%box{
	@media only screen and (max-width: $tablet-size){margin-left:-40px !important; margin-right:-40px !important;}
	@media only screen and (max-width: $mobile-size){margin-left:-12px !important; margin-right:-12px !important;}
}
%box-padding{
	@media only screen and (max-width: $tablet-size){padding-left:40px !important; padding-right:40px !important; box-sizing:border-box;}
	@media only screen and (max-width: $mobile-size){padding-left:12px !important; padding-right:12px !important;}
}
