@charset "UTF-8";
@import "mixins";

.register{width:462px;margin:0 auto;padding:100px 0 0 0 ;
    &__tit{margin-bottom:40px;font-size:$sizeTit2;color:#666;text-align:center;}
    &__box{width:100%;padding:60px 70px;background-color:#fff;border:1px solid $grey3;border-radius: 4px; }
    &__subtit{color:#000;
        &.type-titv1{margin-bottom:23px;font-size:$sizeTxt1;}
        &.type-titv2{margin-bottom:40px ; font-size:$sizeTit3;}
        &__sub{margin-bottom:3px;font-size:$sizeTxt4;font-weight:$light;color:$grey5;}
    }
    &__infotxt{padding-top:60px;font-size:$sizeTxt3;font-weight:$light;color:$grey5;text-align: center;
        &__link{font-weight:$medium;color:$grey5;text-decoration: none;}
    }
    &__label{display:block;margin-bottom:15px;font-size:$sizeTxt2;color:#000;}
    &__input{font-size:$sizeTxt3;padding:13px 0;
        &.type-txt{width:100%;border-bottom:1px solid $grey3;
            &:focus{border-bottom:1px solid #000;}
        }
        &.type-box{padding:16px;border:1px solid $grey3;border-radius: 4px; }
        &.type-certify{width:182px;}
        @include placeholder-color(#ccc);
        &.type-center{text-align: center;}
        &.type-second{margin-top:8px;}

        &.is-done{color:$grey5;}
        &.type-clear{border-bottom:2px solid transparent;}
    }
    &__inputwrap{
        &.type-3{display:inline-block;position:relative;width:33.3%;padding-left:45px; vertical-align:top;
            &.type-before:before{content:""; display:inline-block; position:absolute;left:20px;top:0;bottom:0;width:10px; height:1px;margin:auto 0; background-color:$grey3;}
        }
    }
    &__innerbox{margin-left:-45px;font-size: 0;
        &.type-birth{background:url('../../img/login/birth_bg.png') no-repeat center right 0px / 116px 46px;  color:$grey5;}
        &.type-certify{margin-left:0;}
        &.type-marriage{margin-left:-40px;}
        & + & {margin-top:20px;}
    }
    &__certify__btn{display:inline-block; width:120px; height:46px; line-height:46px; font-size:$sizeTxt3;font-weight:$medium; color:#fff;  background:$point1; text-align:center; border-radius:4px;border:1px solid $point1;
        &.is-during{background-color:#fff;color:$point1;}
        &.is-done{padding-right:27px;background:url('../../img/login/certify_bg.png') #fff no-repeat center right 16px / 11px 8px;color:$point1;}
    }
    &__submit{margin-top:50px;}
    &__m-wrap{display:inline-block;margin-left:40px;}
    &.type-result{width:652px;padding:120px 0 0 0 ;}
}
.registerform{
    &__item{
        & + & {margin-top:40px;}
    }
}


.radio-v2{ overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px;  border: 0; clip: rect(0, 0, 0, 0);
    & + label{position: relative;  display: inline-block; margin-bottom: 0; margin-left: 0; padding-left: 28px; cursor: pointer; font-size:$sizeTxt3; color: $grey5; vertical-align:middle; font-weight:$light;
        &:before{position: absolute; top: 1px; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 15px; height: 15px; margin: auto; border: 1px solid $grey3; content: ''; border-radius: 50%; cursor: pointer;}
    }
    &:checked{
        & + label{
            &:before{background:url('../../img/login/check_icon.png') no-repeat center center /9px 9px; }
        }
    }
}

.register-r{text-align: center;
    &__img{margin-bottom:20px;}
    &__tit{margin-bottom:40px;font-size:$sizeTit1; color:#000;}
    &__txt{line-height:36px;margin-bottom:100px; font-size:$sizeTxt1; color:#000;
        &__point{font-size:$sizeTxt1; color:$point1;}
    }
    &__txt__sub{line-height:30px;margin-bottom:54px;font-size:$sizeTxt2; color:$grey5;}
    &__btnwrap{margin-left:-10px;}
    &__btninbox{width:50%; padding-left:10px;}
    &__btn{width:100%;
        &.type-blue{background-color:$point1;border:1px solid $point1;color:#fff;}
        &.type-white{background-color:#fff;color:#000;}
    }
}

//아이디&비번찾기

.register_form-4{margin-top:-40px;
    &.type-change{margin-top:0}
}
//인증번호 밭는 부분 별도 스타일
.input-v2{
    // &.type-box{padding:16px;border:1px solid $grey3;border-radius: 4px; }
    &.type-certify{width:182px;}
    &.block-focus{color:$grey5;
        &:focus{border-bottom:1px solid $grey3;}
    }
    &.is-done{color:$grey5;}
    &.type-second{margin-top:8px;}//비밀번호 재확인

}

//셀렉트 막기

.js-select{position:relative;
    &.block-focus:after{content:""; display:block;position:absolute;top:0;left:0; width:100%; height:100%;}
}
